/* General */
html {
    background-color: var(--theme-background-main);
}

a {
    text-decoration: none;
    color: black;
}

#header {
    text-align: center;
    width: 35%;
    margin: auto;
    margin-top: 10vh;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
}

/* Utilities */
.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Vars */
:root {
    --font-size-small: 1.3em;
    --font-size-large: 2em;

    --spacing-xs: 4px;
    --spacing-small: 12px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xl: 10vh;

    --font-family-primary: Inter, sans-serif;

    --theme-background-main: #faddf2;
    --theme-background-link-container: #f4aed185;
    --theme-background-link-btn: #f4aed1;
    --theme-copy-btn-hover: #ffffff3b;
}